on:
  push:
    branches:
      - master





jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: "docker login"
        run: docker login --username ${{secrets.DOCKER_USERNAME}} --password ${{ secrets.DOCKER_PASSWORD }}
      
      - name: "buildin image"
        run: docker build -t ${{secrets.DOCKER_USERNAME}}/mohamed-mitwaly-2023040227


      - name: "push to dockerhub"
        run: docker push ${{secrets.DOCKER_USERNAME}}/mohamed-mitwaly-2023040227

